{:paths ["src" "resources"]

 :deps
 {markdown-clj/markdown-clj {:mvn/version "1.11.7"
                             exclusions [org.yaml/snakeyaml]}
  metosin/reitit {:mvn/version "0.6.0"}
  org.babashka/sci {:mvn/version "0.8.40"}
  reagent/reagent {:mvn/version "1.2.0"}
  thheller/shadow-cljs {:mvn/version "2.26.0"
                        :exclusions [com.fasterxml.jackson.core/jackson-databind
                                     com.google.guava/guava
                                     commons-fileupload/commons-fileupload
                                     io.undertow/undertow-core
                                     org.jboss.xnio/xnio-api
                                     org.jboss.xnio/xnio-nio]}
  com.fasterxml.jackson.core/jackson-databind #:mvn{:version "2.16.0-rc1"}
  org.yaml/snakeyaml {:mvn/version "2.2"}}

 :aliases
 {:dev
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.43.3"}}}}}
